{
  "name": "surrogacyreborn.com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/sass/rtl.scss",
      "imports": [
        "assets/sass/_direction-controller.scss",
        "assets/sass/_main.scss",
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/base/_base.scss",
        "assets/sass/base/_type.scss",
        "assets/sass/base/_form.scss",
        "assets/sass/base/_layout.scss",
        "assets/sass/base/_woocommerce.scss",
        "assets/sass/base/_page.scss",
        "assets/sass/base/_media.scss",
        "assets/sass/components/_primary-nav.scss",
        "assets/sass/components/_departments-menu.scss",
        "assets/sass/components/_vertical-menu.scss",
        "assets/sass/components/_secondary-nav.scss",
        "assets/sass/components/_navbar-search.scss",
        "assets/sass/components/_navbar-mini-cart.scss",
        "assets/sass/components/_wc-breadcrumb.scss",
        "assets/sass/components/_wc-ordering.scss",
        "assets/sass/components/_wc-tabs.scss",
        "assets/sass/components/_electro-wc-ppp-select.scss",
        "assets/sass/components/_electro-adv-pagination.scss",
        "assets/sass/components/_product-item.scss",
        "assets/sass/components/_product-list-view.scss",
        "assets/sass/components/_wc-pagination.scss",
        "assets/sass/components/_star-rating.scss",
        "assets/sass/components/_owl-carousel.scss",
        "assets/sass/components/_post-item.scss",
        "assets/sass/components/_blog-pagination.scss",
        "assets/sass/components/_table-cart.scss",
        "assets/sass/components/_cart-collaterals.scss",
        "assets/sass/components/_jplayer.scss",
        "assets/sass/components/_post-format-gallery.scss",
        "assets/sass/components/_wc-reviews.scss",
        "assets/sass/components/_utilities.scss",
        "assets/sass/components/_qty-buttons.scss",
        "assets/sass/components/_megamenu.scss",
        "assets/sass/components/_scrollup.scss",
        "assets/sass/components/_widget-electro-recent-posts.scss",
        "assets/sass/components/_pace.scss",
        "assets/sass/components/_typeahead.scss",
        "assets/sass/blocks/_top-bar.scss",
        "assets/sass/blocks/_header.scss",
        "assets/sass/blocks/_navbar.scss",
        "assets/sass/blocks/_sliders.scss",
        "assets/sass/blocks/_home-full-width-slider.scss",
        "assets/sass/blocks/_features-list.scss",
        "assets/sass/blocks/_ads.scss",
        "assets/sass/blocks/_section-onsale-product.scss",
        "assets/sass/blocks/_products-carousel-tabs.scss",
        "assets/sass/blocks/_shop-control-bar.scss",
        "assets/sass/blocks/_product-categories.scss",
        "assets/sass/blocks/_products.scss",
        "assets/sass/blocks/_products-carousel.scss",
        "assets/sass/blocks/_products-carousel-with-image.scss",
        "assets/sass/blocks/_product-card.scss",
        "assets/sass/blocks/_product-cards-carousel.scss",
        "assets/sass/blocks/_products-2-1-2.scss",
        "assets/sass/blocks/_products-6-1.scss",
        "assets/sass/blocks/_home-list-categories.scss",
        "assets/sass/blocks/_sidebar.scss",
        "assets/sass/blocks/_brands-carousel.scss",
        "assets/sass/blocks/_widgets.scss",
        "assets/sass/blocks/_wc-widgets.scss",
        "assets/sass/blocks/_footer.scss",
        "assets/sass/blocks/_comments.scss",
        "assets/sass/blocks/_posts.scss",
        "assets/sass/blocks/_woocommerce-checkout.scss",
        "assets/sass/pages/_page-checkout.scss",
        "assets/sass/pages/_page-myaccount.scss",
        "assets/sass/pages/_page-cart.scss",
        "assets/sass/pages/_page-order-received.scss",
        "assets/sass/pages/_page-track-your-order.scss",
        "assets/sass/pages/_page-single-product.scss",
        "assets/sass/pages/_page-about.scss",
        "assets/sass/pages/_page-faq.scss",
        "assets/sass/pages/_page-compare.scss",
        "assets/sass/pages/_page-contact.scss",
        "assets/sass/pages/_page-404.scss",
        "assets/sass/pages/_page-store-directory.scss",
        "assets/sass/integrations/_wishlist.scss",
        "assets/sass/integrations/_woocompare.scss",
        "assets/sass/_responsive.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss",
        "assets/sass/responsive/_screen-down-sm.scss",
        "assets/sass/responsive/_screen-down-md.scss",
        "assets/sass/responsive/_screen-down-lg.scss",
        "assets/sass/responsive/_screen-sm-md.scss",
        "assets/sass/responsive/_screen-md-lg.scss"
      ]
    },
    {
      "path": "assets/sass/style.scss",
      "imports": [
        "assets/sass/_direction-controller.scss",
        "assets/sass/_main.scss",
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/base/_base.scss",
        "assets/sass/base/_type.scss",
        "assets/sass/base/_form.scss",
        "assets/sass/base/_layout.scss",
        "assets/sass/base/_woocommerce.scss",
        "assets/sass/base/_page.scss",
        "assets/sass/base/_media.scss",
        "assets/sass/components/_primary-nav.scss",
        "assets/sass/components/_departments-menu.scss",
        "assets/sass/components/_vertical-menu.scss",
        "assets/sass/components/_secondary-nav.scss",
        "assets/sass/components/_navbar-search.scss",
        "assets/sass/components/_navbar-mini-cart.scss",
        "assets/sass/components/_wc-breadcrumb.scss",
        "assets/sass/components/_wc-ordering.scss",
        "assets/sass/components/_wc-tabs.scss",
        "assets/sass/components/_electro-wc-ppp-select.scss",
        "assets/sass/components/_electro-adv-pagination.scss",
        "assets/sass/components/_product-item.scss",
        "assets/sass/components/_product-list-view.scss",
        "assets/sass/components/_wc-pagination.scss",
        "assets/sass/components/_star-rating.scss",
        "assets/sass/components/_owl-carousel.scss",
        "assets/sass/components/_post-item.scss",
        "assets/sass/components/_blog-pagination.scss",
        "assets/sass/components/_table-cart.scss",
        "assets/sass/components/_cart-collaterals.scss",
        "assets/sass/components/_jplayer.scss",
        "assets/sass/components/_post-format-gallery.scss",
        "assets/sass/components/_wc-reviews.scss",
        "assets/sass/components/_utilities.scss",
        "assets/sass/components/_qty-buttons.scss",
        "assets/sass/components/_megamenu.scss",
        "assets/sass/components/_scrollup.scss",
        "assets/sass/components/_widget-electro-recent-posts.scss",
        "assets/sass/components/_pace.scss",
        "assets/sass/components/_typeahead.scss",
        "assets/sass/blocks/_top-bar.scss",
        "assets/sass/blocks/_header.scss",
        "assets/sass/blocks/_navbar.scss",
        "assets/sass/blocks/_sliders.scss",
        "assets/sass/blocks/_home-full-width-slider.scss",
        "assets/sass/blocks/_features-list.scss",
        "assets/sass/blocks/_ads.scss",
        "assets/sass/blocks/_section-onsale-product.scss",
        "assets/sass/blocks/_products-carousel-tabs.scss",
        "assets/sass/blocks/_shop-control-bar.scss",
        "assets/sass/blocks/_product-categories.scss",
        "assets/sass/blocks/_products.scss",
        "assets/sass/blocks/_products-carousel.scss",
        "assets/sass/blocks/_products-carousel-with-image.scss",
        "assets/sass/blocks/_product-card.scss",
        "assets/sass/blocks/_product-cards-carousel.scss",
        "assets/sass/blocks/_products-2-1-2.scss",
        "assets/sass/blocks/_products-6-1.scss",
        "assets/sass/blocks/_home-list-categories.scss",
        "assets/sass/blocks/_sidebar.scss",
        "assets/sass/blocks/_brands-carousel.scss",
        "assets/sass/blocks/_widgets.scss",
        "assets/sass/blocks/_wc-widgets.scss",
        "assets/sass/blocks/_footer.scss",
        "assets/sass/blocks/_comments.scss",
        "assets/sass/blocks/_posts.scss",
        "assets/sass/blocks/_woocommerce-checkout.scss",
        "assets/sass/pages/_page-checkout.scss",
        "assets/sass/pages/_page-myaccount.scss",
        "assets/sass/pages/_page-cart.scss",
        "assets/sass/pages/_page-order-received.scss",
        "assets/sass/pages/_page-track-your-order.scss",
        "assets/sass/pages/_page-single-product.scss",
        "assets/sass/pages/_page-about.scss",
        "assets/sass/pages/_page-faq.scss",
        "assets/sass/pages/_page-compare.scss",
        "assets/sass/pages/_page-contact.scss",
        "assets/sass/pages/_page-404.scss",
        "assets/sass/pages/_page-store-directory.scss",
        "assets/sass/integrations/_wishlist.scss",
        "assets/sass/integrations/_woocompare.scss",
        "assets/sass/_responsive.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss",
        "assets/sass/responsive/_screen-down-sm.scss",
        "assets/sass/responsive/_screen-down-md.scss",
        "assets/sass/responsive/_screen-down-lg.scss",
        "assets/sass/responsive/_screen-sm-md.scss",
        "assets/sass/responsive/_screen-md-lg.scss"
      ]
    },
    {
      "path": "assets/sass/_main.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/base/_base.scss",
        "assets/sass/base/_type.scss",
        "assets/sass/base/_form.scss",
        "assets/sass/base/_layout.scss",
        "assets/sass/base/_woocommerce.scss",
        "assets/sass/base/_page.scss",
        "assets/sass/base/_media.scss",
        "assets/sass/components/_primary-nav.scss",
        "assets/sass/components/_departments-menu.scss",
        "assets/sass/components/_vertical-menu.scss",
        "assets/sass/components/_secondary-nav.scss",
        "assets/sass/components/_navbar-search.scss",
        "assets/sass/components/_navbar-mini-cart.scss",
        "assets/sass/components/_wc-breadcrumb.scss",
        "assets/sass/components/_wc-ordering.scss",
        "assets/sass/components/_wc-tabs.scss",
        "assets/sass/components/_electro-wc-ppp-select.scss",
        "assets/sass/components/_electro-adv-pagination.scss",
        "assets/sass/components/_product-item.scss",
        "assets/sass/components/_product-list-view.scss",
        "assets/sass/components/_wc-pagination.scss",
        "assets/sass/components/_star-rating.scss",
        "assets/sass/components/_owl-carousel.scss",
        "assets/sass/components/_post-item.scss",
        "assets/sass/components/_blog-pagination.scss",
        "assets/sass/components/_table-cart.scss",
        "assets/sass/components/_cart-collaterals.scss",
        "assets/sass/components/_jplayer.scss",
        "assets/sass/components/_post-format-gallery.scss",
        "assets/sass/components/_wc-reviews.scss",
        "assets/sass/components/_utilities.scss",
        "assets/sass/components/_qty-buttons.scss",
        "assets/sass/components/_megamenu.scss",
        "assets/sass/components/_scrollup.scss",
        "assets/sass/components/_widget-electro-recent-posts.scss",
        "assets/sass/components/_pace.scss",
        "assets/sass/components/_typeahead.scss",
        "assets/sass/blocks/_top-bar.scss",
        "assets/sass/blocks/_header.scss",
        "assets/sass/blocks/_navbar.scss",
        "assets/sass/blocks/_sliders.scss",
        "assets/sass/blocks/_home-full-width-slider.scss",
        "assets/sass/blocks/_features-list.scss",
        "assets/sass/blocks/_ads.scss",
        "assets/sass/blocks/_section-onsale-product.scss",
        "assets/sass/blocks/_products-carousel-tabs.scss",
        "assets/sass/blocks/_shop-control-bar.scss",
        "assets/sass/blocks/_product-categories.scss",
        "assets/sass/blocks/_products.scss",
        "assets/sass/blocks/_products-carousel.scss",
        "assets/sass/blocks/_products-carousel-with-image.scss",
        "assets/sass/blocks/_product-card.scss",
        "assets/sass/blocks/_product-cards-carousel.scss",
        "assets/sass/blocks/_products-2-1-2.scss",
        "assets/sass/blocks/_products-6-1.scss",
        "assets/sass/blocks/_home-list-categories.scss",
        "assets/sass/blocks/_sidebar.scss",
        "assets/sass/blocks/_brands-carousel.scss",
        "assets/sass/blocks/_widgets.scss",
        "assets/sass/blocks/_wc-widgets.scss",
        "assets/sass/blocks/_footer.scss",
        "assets/sass/blocks/_comments.scss",
        "assets/sass/blocks/_posts.scss",
        "assets/sass/blocks/_woocommerce-checkout.scss",
        "assets/sass/pages/_page-checkout.scss",
        "assets/sass/pages/_page-myaccount.scss",
        "assets/sass/pages/_page-cart.scss",
        "assets/sass/pages/_page-order-received.scss",
        "assets/sass/pages/_page-track-your-order.scss",
        "assets/sass/pages/_page-single-product.scss",
        "assets/sass/pages/_page-about.scss",
        "assets/sass/pages/_page-faq.scss",
        "assets/sass/pages/_page-compare.scss",
        "assets/sass/pages/_page-contact.scss",
        "assets/sass/pages/_page-404.scss",
        "assets/sass/pages/_page-store-directory.scss",
        "assets/sass/integrations/_wishlist.scss",
        "assets/sass/integrations/_woocompare.scss",
        "assets/sass/_responsive.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss",
        "assets/sass/responsive/_screen-down-sm.scss",
        "assets/sass/responsive/_screen-down-md.scss",
        "assets/sass/responsive/_screen-down-lg.scss",
        "assets/sass/responsive/_screen-sm-md.scss",
        "assets/sass/responsive/_screen-md-lg.scss"
      ]
    },
    {
      "path": "assets/sass/_mixins.scss",
      "imports": [
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/_responsive.scss",
      "imports": [
        "assets/sass/responsive/_screen-down-sm.scss",
        "assets/sass/responsive/_screen-down-md.scss",
        "assets/sass/responsive/_screen-down-lg.scss",
        "assets/sass/responsive/_screen-sm-md.scss",
        "assets/sass/responsive/_screen-md-lg.scss"
      ]
    },
    {
      "path": "assets/sass/_variables.scss",
      "imports": [
        "assets/sass/integrations/_fontawesome-variables.scss"
      ]
    },
    {
      "path": "assets/sass/admin/admin.scss",
      "imports": [
        "assets/sass/admin/_variables.scss",
        "assets/sass/admin/_mixins.scss",
        "assets/sass/admin/_ec-tabs.scss",
        "assets/sass/admin/_electro-options-panel.scss"
      ]
    },
    {
      "path": "assets/sass/colors/black.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/blue.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/dark-green.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/flat-blue.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/gold.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/green.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/navy.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/orange.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/pink.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/red.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/colors/_light.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    },
    {
      "path": "assets/sass/colors/yellow.scss",
      "imports": [
        "assets/sass/_bs-variables.scss",
        "assets/sass/_variables.scss",
        "assets/sass/_mixins.scss",
        "assets/sass/colors/_color.scss",
        "assets/sass/integrations/_fontawesome-variables.scss",
        "assets/sass/mixins/_breakpoints.scss",
        "assets/sass/mixins/_hover.scss",
        "assets/sass/mixins/_image.scss",
        "assets/sass/mixins/_label.scss",
        "assets/sass/mixins/_reset-filter.scss",
        "assets/sass/mixins/_resize.scss",
        "assets/sass/mixins/_screen-reader.scss",
        "assets/sass/mixins/_size.scss",
        "assets/sass/mixins/_tab-focus.scss",
        "assets/sass/mixins/_reset-text.scss",
        "assets/sass/mixins/_text-emphasis.scss",
        "assets/sass/mixins/_text-hide.scss",
        "assets/sass/mixins/_text-truncate.scss",
        "assets/sass/mixins/_type.scss",
        "assets/sass/mixins/_alert.scss",
        "assets/sass/mixins/_buttons.scss",
        "assets/sass/mixins/_cards.scss",
        "assets/sass/mixins/_pagination.scss",
        "assets/sass/mixins/_lists.scss",
        "assets/sass/mixins/_list-group.scss",
        "assets/sass/mixins/_nav-divider.scss",
        "assets/sass/mixins/_forms.scss",
        "assets/sass/mixins/_progress.scss",
        "assets/sass/mixins/_table-row.scss",
        "assets/sass/mixins/_nav.scss",
        "assets/sass/mixins/_custom-controls.scss",
        "assets/sass/mixins/_font-awesome.scss",
        "assets/sass/mixins/_product-item.scss",
        "assets/sass/mixins/_multiline-ellipsis.scss",
        "assets/sass/mixins/_background-variant.scss",
        "assets/sass/mixins/_border-radius.scss",
        "assets/sass/mixins/_gradients.scss",
        "assets/sass/mixins/_clearfix.scss",
        "assets/sass/mixins/_center-block.scss",
        "assets/sass/mixins/_grid-framework.scss",
        "assets/sass/mixins/_grid.scss",
        "assets/sass/mixins/_pulls.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}